<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {%- if page.signature == 'collection' -%}
          {%- assign signature_path = page.permalink | remove: '/' | remove: 'index.html' -%}
          {%- assign signature = signature_path | replace: '-', ' ' -%}
          {%- assign signature_blog = site.data.blogs.internal_blogs | where_exp: "item", "item.path == signature_path" -%}
          {%- if signature_blog.size == 0 -%}
            {%- assign signature_blog = site.data.blogs.internal_blogs | where_exp: "item", "item.name == signature" -%}
          {%- endif -%}
        {%- endif -%}

        {%- if signature or page.collection -%}
          {%- if page.collection -%}
            {%- assign post_blog = site.data.blogs.internal_blogs | where: "path", page.collection | first -%}
            {%- if post_blog -%}
              {%- assign site_title = post_blog.title -%}
			  {%- assign site_url = post_blog.path | prepend: '/' | append: '/' -%}
            {%- else -%}
              {%- assign site_title = page.collection -%}
            {%- endif -%}
          {%- elsif signature_blog.size > 0 -%}
            {%- assign site_title = signature_blog[0].name -%}
          {%- else -%}
            {%- assign site_title = signature -%}
          {%- endif -%}
        {%- else -%}
          {%- assign site_title = site.title -%}
        {%- endif -%}

        {%- unless post_blog -%}
          {%- if site_title == site.title -%}
            {%- assign site_url = '/' -%}
          {%- elsif signature_blog[0].path -%}
            {%- assign site_url = signature_blog[0].path | prepend: '/' | append: '/' -%}
          {%- else -%}
            {%- assign site_url = site_title | slugify | prepend: '/' | append : '/' -%}
          {%- endif -%}
        {%- endunless -%}

        <a class="site-title" href="{{ site_url }}">{{ site_title | replace: '-', ' ' }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% include repo.html %}
        </ul>
        <button type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>