<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {%- if page.signature == 'collection' -%}
          {%- assign signature = page.permalink | remove: '/' | remove: 'index.html' | replace: '-', ' ' -%}
        {%- endif -%}

        {%- if signature or page.collection -%}
          {%- if page.collection -%}
            {%- assign site_title = page.collection -%}
          {%- else -%}
            {%- assign site_title = signature -%}
          {%- endif -%}
        {%- else -%}
          {%- assign site_title = site.title -%}
        {%- endif -%}

        {%- if site_title == site.title -%}
          {%- assign site_url = '/' -%}
        {%- else -%}
          {%- assign site_url = site_title | slugify | prepend: '/' | append : '/' -%}
        {%- endif -%}

        <a class="site-title" href="{{ site_url }}">{{ site_title | replace: '-', ' ' }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
            {% include repo.html %}
        </ul>
        <button type="button">
          <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>